<%# 
<form action="/users" accept-charset="UTF-8" method="post">
  <div data-turbo=false>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %">

    <label for="username">Username:</label>
    <input type="text" id="username" name="user[username]"><br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="user[email]"><br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" value="user[password]">sbr><br>
    <input type="submit" value="Submit">
  </div>  
</form>
%>


<%= form_with model: @user do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username, placeholder: "username goes here" %><br><br>
  <%= form.label :email %>
  <%= form.email_field :email, placeholder: "email here" %><br><br>
  <%= form.label :password %>
  <%= form.password_field :password, placeholder: "password goes here" %><br><br>
  <%= form.submit "Submit" %>
<% end %>
